@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


body{
    font-family: 'Poppins', sans-serif;
    margin: 0;

}

h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}

/* .first-image{
    float: right;
} */
.header-container{
    display: flex;
    min-height: 100vh;
    padding: 60px 40px;
}
.header{
    min-width: 50vw;
    padding-left: 40px;
}
.header-img{
    min-width: 50vw;
}
.first-image{
    width: 80%;
}
a{
    text-decoration: none;
    
}
button{
    background: linear-gradient(rgb(235, 51, 27), rgb(210,100,3));
    padding: 10px 40px;
    font-weight: bold;
    border-radius: 5px;
    color: white;
    font-size:medium;
    
}
.first-sec{
        background-image: url(./images/top-banner.png) ;
    background-repeat: no-repeat;
}
.dream-text{
    min-width: 40vw;
}
.dream-big{
    background-image: url(./images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}